.header {
  alignment: center;
  display: block;
  text-align: center;
  margin: 8%;
color: black;

}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 25%;
  margin-top: 5%;
  padding: 5%;
  border: 1px solid black;
  background-color: black;
}

.main-form > * {
  width: 100%;
}

.button-list {
  align-content: center;
}

.button-list mat-list-item {
  display: inline-block;
  height: auto;
  width: auto;
}
